@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

$completed-status-color: rgba(121, 215, 15, 0.4);
$processing-status-color: rgba(238, 187, 77, 0.4);
$scheduled-status-color: rgba(56, 62, 86, 0.4);

html {
  font-family: Roboto !important;
}

.header {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  padding: 1rem 0 2rem;
}

#root {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  justify-content: space-evenly;
}

.status-completed {
  background-color: $completed-status-color;
}

.status-scheduled {
  background-color: $scheduled-status-color;
}

.status-processing {
  background-color: $processing-status-color;
}

.card {
  border-radius: 10px;
  display: flex;
  width: fit-content;
  padding: 1rem;
  margin: 1rem;
}

.card-segment {
  padding: 10px;
  & > div {
    padding-bottom: 8px;
  }
  &:last-child {
    text-align: right;
  }
}

.repo-name {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 10px;
  & > a {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.details {
  font-weight: 500;
  & > span {
    font-weight: 300;
  }
}

.status {
  font-weight: 500;
  font-size: 1.2rem;
}

.job-id {
  font-weight: 900;
  font-size: 2rem;
}
